# Lab | Data Structuring and Combining Data

For Challenge 1, you can either use data which has already been cleaned (option 1) or clean it yourself (option 2).

## Challenge 1: Combining Data (Option 1)

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

## Challenge 1: Combining & Cleaning Data (Option 2)

If in the previous lab you created your cleaning and formatting function, or if you want to do it now, instead of using the two clean files provided above, you can use your function to clean and format the data in these two raw files below:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd
import numpy as np
import data_cleaning_function

In [2]:
file1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
file2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
file3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

In [3]:
file1 = data_cleaning_function.clean_columns(file1)
file1 = data_cleaning_function.data_clean(file1)
file1

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,U,Master,588174,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,Californiafornia,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955,38644,78,1,Personal Auto,Four-Door Car,361
1067,VJ51327,California,F,High School or Below,2031499,63209,102,2,Personal Auto,SUV,207
1068,GS98873,Arizona,F,Bachelor,323912,16061,88,0,Personal Auto,Four-Door Car,633
1069,CW49887,Californiafornia,F,Master,462680,79487,114,0,Special Auto,SUV,547
1070,MY31220,Californiafornia,F,College,899704,54230,112,0,Personal Auto,Two-Door Car,537

In [4]:
file2 = data_cleaning_function.clean_columns(file2)
file2 = data_cleaning_function.data_clean(file2)
file2

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,GS98873,Arizona,F,Bachelor,323912,16061,88,0,633,Personal Auto,Four-Door Car
1,CW49887,Californiafornia,F,Master,462680,79487,114,0,547,Special Auto,SUV
2,MY31220,Californiafornia,F,College,899704,54230,112,0,537,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706,71210,214,1,1027,Personal Auto,Luxury
4,WH52799,Arizona,F,College,380812,94903,94,0,451,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141,63513,70,0,185,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121,58161,68,0,140,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964,83640,70,0,471,Corporate Auto,Two-Door Car
994,MY32149,Californiafornia,F,Master,368672,0,96,0,28,Personal Auto,Two-Door Car
995,SA91515,Californiafornia,M,Bachelor,399258,0,111,0,700,Personal Auto,SUV

In [5]:
file3 = data_cleaning_function.clean_columns(file3)
file3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   7070 non-null   object
 1   state                      7070 non-null   object
 2   customer_lifetime_value    7070 non-null   float64
 3   education                  7070 non-null   object
 4   gender                     7070 non-null   object
 5   income                     7070 non-null   int64
 6   monthly_premium_auto       7070 non-null   int64
 7   number_of_open_complaints  7070 non-null   int64
 8   policy_type                7070 non-null   object
 9   total_claim_amount         7070 non-null   float64
 10  vehicle_class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB

In [6]:
file3.isna().sum()

customer                     0
state                        0
customer_lifetime_value      0
education                    0
gender                       0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
total_claim_amount           0
vehicle_class                0
dtype: int64

In [7]:
#checking the difference of possible values between the two files for each column
display(file2.nunique())
display(file3.nunique())

customer                     996
state                          5
gender                         3
education                      5
customer_lifetime_value      949
income                       733
monthly_premium_auto         126
number_of_open_complaints      6
total_claim_amount           467
policy_type                    3
vehicle_class                  4
dtype: int64

customer                     7070
state                           5
customer_lifetime_value      6288
education                       5
gender                          2
income                       4463
monthly_premium_auto          194
number_of_open_complaints       6
policy_type                     3
total_claim_amount           4025
vehicle_class                   6
dtype: int64

In [8]:
file3['vehicle_class'].unique()

array(['Two-Door Car', 'Four-Door Car', 'SUV', 'Sports Car', 'Luxury SUV',
       'Luxury Car'], dtype=object)

In [9]:
file3 = data_cleaning_function.chance_datatype(file3,'customer_lifetime_value',int)
file3 = data_cleaning_function.chance_datatype(file3,'income',int)
file3 = data_cleaning_function.chance_datatype(file3,'total_claim_amount',int)
file3 = data_cleaning_function.replace(file3,'vehicle_class','Sports Car','Luxury')
file3 = data_cleaning_function.replace(file3,'vehicle_class','Luxury SUV','Luxury')
file3 = data_cleaning_function.replace(file3,'vehicle_class','Luxury Car','Luxury')
file3

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
0,SA25987,Washington,3479,High School or Below,M,0,104,0,Personal Auto,499,Two-Door Car
1,TB86706,Arizona,2502,Master,M,0,66,0,Personal Auto,3,Two-Door Car
2,ZL73902,Nevada,3265,Bachelor,F,25820,82,0,Personal Auto,393,Four-Door Car
3,KX23516,California,4455,High School or Below,F,0,121,0,Personal Auto,699,SUV
4,FN77294,California,7704,High School or Below,M,30366,101,2,Personal Auto,484,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405,Bachelor,M,71941,73,0,Personal Auto,198,Four-Door Car
7066,PK87824,California,3096,College,F,21604,79,0,Corporate Auto,379,Four-Door Car
7067,TD14365,California,8163,Bachelor,M,0,85,3,Corporate Auto,790,Four-Door Car
7068,UP19263,California,7524,College,M,21941,96,0,Personal Auto,691,Four-Door Car
7069,Y167826,California,2611,College,M,0,77,0,Corporate Auto,369,Two-Door Car

In [10]:
customer_data=pd.concat([file1,file2,file3])
customer_data

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,U,Master,588174,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,Californiafornia,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405,71941,73,0,Personal Auto,Four-Door Car,198
7066,PK87824,California,F,College,3096,21604,79,0,Corporate Auto,Four-Door Car,379
7067,TD14365,California,M,Bachelor,8163,0,85,3,Corporate Auto,Four-Door Car,790
7068,UP19263,California,M,College,7524,21941,96,0,Personal Auto,Four-Door Car,691
7069,Y167826,California,M,College,2611,0,77,0,Corporate Auto,Two-Door Car,369

 # Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [11]:
data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')
data.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [12]:
#checking if there are any missing values! 
#checking the column names if there are any uppercase latters or wider spaces... looks good.
data.isna().sum()/data.shape[0]*100

unnamed:_0                       0.0
customer                         0.0
state                            0.0
customer_lifetime_value          0.0
response                         0.0
coverage                         0.0
education                        0.0
effective_to_date                0.0
employmentstatus                 0.0
gender                           0.0
income                           0.0
location_code                    0.0
marital_status                   0.0
monthly_premium_auto             0.0
months_since_last_claim          0.0
months_since_policy_inception    0.0
number_of_open_complaints        0.0
number_of_policies               0.0
policy_type                      0.0
policy                           0.0
renew_offer_type                 0.0
sales_channel                    0.0
total_claim_amount               0.0
vehicle_class                    0.0
vehicle_size                     0.0
vehicle_type                     0.0
month                            0.0
dtype: float64

In [13]:
#checking the datatypes of each column to see if I have to chance it.
#In the first step i will only prove, that every categorical column is a object type because i will check them deeper 
#in the next step. I see that there are some wrong numerical or date columns, but I will fix them later
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

In [14]:
#display all unique values of every categrical column to see of there are typos or 
#different words for the same meaning like 'F' 'f' 'female'.
#I could group the type of vehicle class for 'Sports Car', 'Luxury Car','Luxury SUV' but I dont do it 
#because its had not explicit sayed.
for col in data.select_dtypes(object):   
    display(col,data[col].unique())

'customer'

array(['DK49336', 'KX64629', 'LZ68649', ..., 'KX53892', 'TL39050',
       'WA60547'], dtype=object)

'state'

array(['Arizona', 'California', 'Washington', 'Oregon', 'Nevada'],
      dtype=object)

'response'

array(['No', 'Yes'], dtype=object)

'coverage'

array(['Basic', 'Extended', 'Premium'], dtype=object)

'education'

array(['College', 'Bachelor', 'High School or Below', 'Doctor', 'Master'],
      dtype=object)

'effective_to_date'

array(['2011-02-18', '2011-01-18', '2011-02-10', '2011-01-11',
       '2011-01-17', '2011-02-14', '2011-02-24', '2011-01-19',
       '2011-01-04', '2011-01-02', '2011-02-07', '2011-01-31',
       '2011-01-26', '2011-02-28', '2011-01-16', '2011-02-26',
       '2011-02-23', '2011-01-15', '2011-02-02', '2011-02-15',
       '2011-01-24', '2011-02-21', '2011-02-22', '2011-01-07',
       '2011-01-28', '2011-02-08', '2011-02-12', '2011-02-20',
       '2011-01-05', '2011-02-19', '2011-01-03', '2011-02-03',
       '2011-01-22', '2011-01-23', '2011-02-05', '2011-02-13',
       '2011-01-25', '2011-02-16', '2011-02-01', '2011-01-27',
       '2011-01-12', '2011-01-20', '2011-02-06', '2011-02-11',
       '2011-01-21', '2011-01-29', '2011-01-09', '2011-02-09',
       '2011-02-27', '2011-01-01', '2011-02-17', '2011-02-25',
       '2011-01-13', '2011-01-06', '2011-02-04', '2011-01-14',
       '2011-01-10', '2011-01-08', '2011-01-30'], dtype=object)

'employmentstatus'

array(['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired'],
      dtype=object)

'gender'

array(['M', 'F'], dtype=object)

'location_code'

array(['Suburban', 'Urban', 'Rural'], dtype=object)

'marital_status'

array(['Married', 'Single', 'Divorced'], dtype=object)

'policy_type'

array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object)

'policy'

array(['Corporate L3', 'Personal L3', 'Personal L2', 'Corporate L2',
       'Personal L1', 'Special L1', 'Corporate L1', 'Special L3',
       'Special L2'], dtype=object)

'renew_offer_type'

array(['Offer3', 'Offer4', 'Offer2', 'Offer1'], dtype=object)

'sales_channel'

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

'vehicle_class'

array(['Four-Door Car', 'SUV', 'Two-Door Car', 'Sports Car', 'Luxury Car',
       'Luxury SUV'], dtype=object)

'vehicle_size'

array(['Medsize', 'Small', 'Large'], dtype=object)

'vehicle_type'

array(['A'], dtype=object)

In [15]:
#The first function i will do is dropping the 'unnamed:_0' column.
data = data_cleaning_function.dropping_column(data,'unnamed:_0')

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [16]:
pd.pivot_table(data,index='sales_channel',values='total_claim_amount',aggfunc=sum).round(2)
#The Agent channel brought the most sales in terms of total revenue followed by Branch, Call Center and Web in descending order.

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [25]:
pd.pivot_table(data, index=['gender','education'], values='customer_lifetime_value').round(2).sort_values(['gender','customer_lifetime_value'], ascending=False)
#The education level for men regarding to the CLV in descending order is Master, High School or Below, College, Bachelor and Doctor.
#The education level for women regarding to the CLV in descending order is High School or Below, Master, Bachelor, College and Doctor.

                             customer_lifetime_value
gender education
M      Master                                8168.83
       High School or Below                  8149.69
       College                               8052.46
       Bachelor                              7703.60
       Doctor                                7415.33
F      High School or Below                  8675.22
       Master                                8157.05
       Bachelor                              7874.27
       College                               7748.82
       Doctor                                7328.51

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [27]:
# in january are sliedly more complaints as in february
pd.pivot_table(data, index=['month'], values=['number_of_open_complaints'],aggfunc=['sum']).round(2)

                            sum
      number_of_open_complaints
month
1                       2258.11
2                       1934.12